<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear cita</title>

    <%- include ('partials/cdns') %>
    <%- include ('partials/estilos') %>

</head>
* @author Luis Sandoval, Julio Nieblas, Jose Arce, fernando Tresierras, oswaldo Caastro
<body>
    <%- include ('partials/navbarPaciente') %>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            /**
            esta parte es para crear una cita 
            */
            <div class="cardCrearCita">
                <div class="card-header">
                    <h5>Crear cita medica</h5>
                </div>
                <form action="/crear-cita/nueva-cita" method="POST">
                    <div class="card-body">
                        <div class="input-group form-group">
                            <div class="col-12">
                                /**
                                El sistema te pide un id y el nombre del paciente 
                                */
                                <input type="text" id="paciente" name="paciente" disabled>
                            </div>
                        </div>
                        <div class="input-group form-group">
                            <div class="col-7">
                                <label>Medico</label>
                                /**
                                El sistema ocupa que selecciones el medico que te esta atendiendo
                                */
                                <select id="medico" name="medico" class="form-control" required>
                                    <option selected>selecione medico...</option>
                                    <% medicos.forEach(function(medico){ %>
                                    <option value="<%= medico._id %>"><%= medico.nombresMedico %>
                                        <%= medico.apPaternoMedico %> <%= medico.apMaternoMedico %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="col-5">
                                <label>Fecha</label>
                                /**
                                
                                */
                                <input id="fecha" name="fecha" type="date" class="form-control" required>
                            </div>
                        </div>
                        <div class="input-group form-group">
                            <div class="col-12">
                                <label>Descripcion</label>
                                <textarea id="descripcion" name="descripcion" type="textarea" class="form-control"
                                    rows="4" required></textarea>
                            </div>
                        </div>
                        <div class="input-group form-group">
                            <!-- Material checked -->
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialChecked2" required>
                                <label class="form-check-label" for="materialChecked2">Acepto que mis datos y expediente puedan ser consultados con el medico con el cual se esta agendando la cita</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn float-right guardar_btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    var f = new Date();
    var dia;
    if (f.getDate() <= 9) {
        dia = "0" + f.getDate();
    } else { dia = f.getDate(); }
    f = f.getFullYear() + "-" + (f.getMonth() + 1) + "-" + dia;
    console.log(f);
    document.getElementById('fecha').setAttribute('min', f)
</script>

</html>