<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include ('partials/cdns') %>
    <%- include ('partials/estilos') %>
</head>

<body>
    <%- include ('partials/navbarPaciente') %>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="cardPerfilPaciente">
                <div class="card-header">
                    <h5>Paciente</h5>
                </div>
                <div class="card-body">
                    <p>Usuario: <%= paciente.nombreUsuario %></p>
                    <p>Email: <%= paciente.email %></p>
                    <p>Teléfono: <%= paciente.expediente.curp %></p>
                    <div class="cardPerfilPaciente">
                        <div class="card-header">
                            <h4>Expediente</h4>
                        </div>
                        <div class="card-body">
                            <p>Nombre:
                                <%= paciente.expediente.nombresPaciente %>
                                <%= paciente.expediente.apPaternoPaciente %>
                                <%= paciente.expediente.apMaternoPaciente %>
                            </p>
                            <p>Sexo: <%= paciente.expediente.sexo %></p>
                            <p>Fecha de nacimiento:
                                <%= paciente.expediente.diaNacimiento %>/<%= paciente.expediente.mesNacimiento %>/<%= paciente.expediente.añoNacimiento %>
                            </p>
                            <p>Curp: <%= paciente.expediente.curp %></p>
                            <p>Número seguro social: <%= paciente.expediente.numeroSeguroSocial %></p>
                            <div class="cardPerfilPaciente">
                                <div class="card-header"></div>
                            </div>
                            <div class="cardPerfilPaciente">
                                <% citas.forEach(function(cita){ %>
                                <div class="cardPerfilPaciente">
                                    <div class="card-header"></div>
                                </div>
                                <div class="card-body">
                                    <p>Fecha: <%= cita.fecha %></p>
                                    <% medicos.forEach(function(medico){ %>
                                    <% if(cita.medico.toString() === medico._id.toString()){ %>
                                    <p>Medico: <%= medico.nombresMedico %> <%= medico.apPaternoMedico %>
                                        <%= medico.apMaternoMedico %></p>
                                    <% } %>
                                    <% }); %>
                                    <p>Descripcion: <%= cita.descripcion %></p>
                                    <% if(cita.diagnostico === undefined || cita.diagnostico === null){ %>
                                    <% }else{ %>
                                    <p>Diagnostico: <%= cita.diagnostico %></p>
                                    <textarea id="diagnostico" name="diagnostico" type="textarea" class="form-control"
                                        rows="4" required></textarea>
                                    <% } %>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                    <div class="cardPerfilPaciente">
                        <div class="card-header">
                            <h4>Documentos</h4>
                        </div>
                        <% paciente.expediente.documentos.forEach(function(documento){ %>
                            <div class="cardPerfilPaciente">
                                <div class="card-header"></div>
                            </div>
                            <div class="card-body">
                                <p>Fecha: <%= documento.fechaDocumento %></p>
                                <p>Descripcion: <%= documento.descripcion %></p>
                                <p><a href="/files/<%= documento.documentoURL %>" target="_blank"><%= documento.documentoURL %></a></p>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>