<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include ('partials/cdns') %>
    <%- include ('partials/estilos') %>
</head>

<body>
    <%- include ('partials/navbarMedico') %>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="cardPerfilPaciente">
                <div class="card-header">
                    <h5>Citas</h5>
                </div>
                <div class="card-body">
                    <% citas.forEach(function(cita){ %>
                    <div class="cardPerfilPaciente">
                        <div class="card-body">
                            <% if(cita.medico.toString() === idUsuario.id){ %>
                            <p>Fecha: <%= cita.fecha %></p>
                            <% pacientes.forEach(function(paciente){ %>
                            <% if(cita.paciente.toString() === paciente._id.toString()){ %>
                            <p>Paciente: <%= paciente.expediente.nombresPaciente %>
                                <%= paciente.expediente.apPaternoPaciente %>
                                <%= paciente.expediente.apMaternoPaciente %>
                            </p>
                            <p>Descripcion: <%= cita.descripcion %></p>
                            <% if(cita.diagnostico === undefined || cita.diagnostico === null){ %>
                            <p>Diagnostico: </p>
                            <textarea name="diagnostico" id="diagnostico" cols="30" rows="10"></textarea>
                            <% }else{ %>
                            <p>Diagnostico: <%= cita.diagnostico %></p>
                            <textarea id="diagnostico" name="diagnostico" type="textarea" class="form-control" rows="4"
                                required></textarea>
                            <% } %>
                            <p>
                                <a href="/expediente/<%= cita.paciente.toString() %>">Ver Expediente</a>
                            </p>
                            <% } %>
                            <% }); %>
                            <% } %>
                        </div>
                    </div>
                    <br>
                    <% }); %>
                </div>
            </div>
        </div>
</body>

</html>